body{
  background-color: purple;
}

div {
  border: red solid 1px;
}
h1{
  color: yellow;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
#announcement{
  font-size: 50px;
  font-family: sans-serif;
  color: red;
  text-align: center;
}
.play{

  color: blue;
  font-size: 20px;
}
.play:hover{
  background-color: green;
}

.newgame{
  color: blue;
  font-size: 20px;
  margin-left: 30px;
}
.newgame:hover{
  background-color: green;
}

.container{
text-align: center;

}

.box{
  position: absolute;
  background-color: white;
  padding-top: 50px;
  display: inline-block;
  width: 95px;
  height: 95px;
  margin-top: 2px;
  border-radius: 0.5em;
  border-right-width: 4px;

}



.row-0{
  top: 200px;
  
}

.row-1{
  top: 300px;
}
.row-2{
  top: 400px;
}

.column-0{
  left: 200px;
}
.column-1{
  left: 300px;
}
.column-2{
  left: 400px;
}

/* .row{
  background-color: white;
  padding-top: 30px;
  display: inline-block;
  width: 130px;
  height: 100px;
  margin-top: 2px;
  border-radius: 0.5em;

} */

footer{
  margin-top: 70px;
  color: yellow;
  font-size: 20px;
}
